

<div class="nav " id="nav">
  <div class="section left">
    <a href="/">
      <img src="{{ site.github.owner_gravatar_url }}?s=150" height="30" width="30" class="avatar" />
    </a>
    <ul>
    </ul>
  </div>

  <div class="section right">
    <ul>      
      <li><a href="{{ site.github.owner_url }}" target="_blank"><i class="fab fa-github"></i></a></li>   
      <li><a href="mailto:{{ site.email }}"><i class="far fa-envelope"></i></a></li>
      <li><a href="{{site.tg}}" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>      
    </ul>
  </div>
</div>

