<div class="home-nav" id="nav">
  <a href="/" class="home-avatar-wrap" aria-label="Home">
    <img src="{{ site.github.owner_gravatar_url }}?s=120" class="home-avatar" alt="{{ site.name }}" />
  </a>
  <div class="home-meta">
    <h1 class="home-name">{{ site.name }}</h1>
    <ul class="home-links">
      <li><a href="{{ site.github.owner_url }}" target="_blank">GitHub</a></li>
      <li><a href="mailto:{{ site.email }}">Email</a></li>
      <li><a href="{{ site.tg }}" target="_blank">Telegram</a></li>
    </ul>
  </div>
</div>
